{% extends "::base.html.twig" %}

{% block title %}Bookish - Review - {{ book.title }}{% endblock %}

{% block body %}

    <div style="background-color: #ffffff; padding: 10px;" class="media">
        <div class="media-left media-top">
            <a href="#">
                <img class="media-object" src="{% if book.manualEntry == 0 %}{{ book.thumbnail }}{% else %}{{ asset('uploads/images/' ~ book.thumbnail) }}{% endif %}" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="{{ path('book_view', {id:book.id}) }}">{{ book.title }} {% if book.subtitle != "" %}: {{ book.subtitle }}{% endif %}</a></h4>
            <p>By: {{ book.authors }}</p>
            <p>Publisher: {{ book.publisher }}</p>
            <p>Publish Date: {{ book.publishDate | date('H:i d/m/y') }}</p>
            <p>ISBN: {{ book.isbn10 }}(10) {{ book.isbn13 }}(13)</p>
            <p>Categories: {{ book.categories }}</p>
        </div>
    </div>
    <hr>

    <div class="well">
        <h4>{{ review.title }}</h4>
        <p class="small">Written by {{ review.getReviewer() }} on {{ review.timestamp | date('d/m/y') }} at {{ review.timestamp | date('H:i') }}</p>
        <p>{{ review.body }}</p>
        <p>Rating:
            {% if review.rating != 0 %}
                {% for i in 1..review.rating %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endfor %}
            {% endif %}

            {% if review.rating != 10 %}
                {% for i in 1..10-review.rating %}
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                {% endfor %}
            {% endif %}
        </p>
    </div>

    <hr>
    <a href="{{ path('review_create', {id:book.id}) }}">
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
            Write Review
        </button>
    </a>
    {% if app.user.granted("USER_ADMIN") or app.user == review.reviewer %}
    <a href="{{ path('review_edit', {id:review.id}) }}">
        <button class="btn btn-warning">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            Edit Review
        </button>
    </a>
    {% endif %}
    {% if app.user.granted("USER_ADMIN") %}
    <a href="{{ path('review_delete', {id:review.id}) }}">
        <button class="btn btn-danger delete_review">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Delete Review
        </button>
    </a>
    {% endif %}
    <hr>

{% endblock %}
